.heading-info h2 {
    font-size: 40px;
    text-align: center;
}

.heading-info h2::before {
    position: absolute;
    content: "O";
    left: 50%;
    transform: translate(-50%);
    font-size: 80px;
    opacity: 0.05;
    top: -2px;

}

.heading-info h2::after {
    position: absolute;
    content: "";
    background-color: black;
    height: 2px;
    width: 50px;
    left: 50%;
    transform: translate(-50%);
    top: 100px;
}

.heading-info p {
    text-align: center;
    font-size: 20px;
    color: #999;
}


.cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards .card {
    text-align: center;

}

.cards .card .image {
    border-radius: 10px;
}

@media screen and (max-width: 575px) {
    .cards .card {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .cards .card {
        width: calc(50% - 20px);
    }
}

@media screen and (min-width: 993px) {
    .cards .card {
        width: calc(25% - 20px);
    }
}
    
